/vendor/
/storage/
/bootstrap/
node_modules/
.env
app/storage/
public/storage/packages
public/storage/receipt
public/hot
public_html/storage
public_html/hot
public/build
.qodo
/storage/logs/laravel.log
