/vendor/
/storage/
/bootstrap/
node_modules/
.env
app/storage/
public/storage/packages
public/storage/receipt
public/hot
public_html/storage
public_html/hot
public/build
public/storage/discount_ids
public/storage/our-story
public/storage/contents
public/storage/travel-blogs
.qodo
/storage/logs/laravel.log
